In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\One\Git\coursera_introduction\week1\titanic_train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df[(df['Sex']=='male')].count()[0]

577

In [12]:
df[(df['Sex']=='female')].count()[0]

314

In [9]:
df[(df['Survived']==1)].count()[0]

342

In [19]:
round(((df[(df['Survived']==1)].count()[0] / df.shape[0]) * 100), 2)

38.38

In [20]:
round(((df[(df['Pclass']==1)].count()[0] / df.shape[0]) * 100), 2)

24.24

In [24]:
df['Age'].median(), df['Age'].mean()

(28.0, 29.69911764705882)

In [27]:
df['SibSp'].corrwith(df['Parch'])

AttributeError: 'Series' object has no attribute 'corrwith'

In [30]:
from scipy.stats.stats import pearsonr

In [31]:
pearsonr(df['SibSp'], df['Parch'])

(0.4148376986201561, 2.2418236681398336e-38)

In [36]:
df['Name'][df['Sex']=='female']

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
22                           McGowan, Miss. Anna "Annie"
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
28                         O'Dwyer, Miss. Ellen "Nellie"
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
47                             O'Driscoll, Miss. Bridget
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
56                                     Rugg, Miss. Emily
58                          West, Miss. Constance Mirium
61                                   Icard, Miss. Amelie
                             ...
807                      Pettersson, Miss. Ellen Natalia
809       Chambers, Mrs. Norman Campbell (Bertha Griggs)
813                   Andersson, Miss. Ebba Iris Alfrida
816                         Heininen, Miss. Wendla Maria
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
823                                   Moor, Mrs. (Beila)
829            Stone, Mrs. George Nelson (Martha Evelyn)
830              Yasbeck, Mrs. Antoni (Selini Alexander)
835                          Compton, Miss. Sara Rebecca
842                              Serepeca, Miss. Augusta
849         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
852                              Boulos, Miss. Nourelain
853                            Lines, Miss. Mary Conover
854        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
855                           Aks, Mrs. Sam (Leah Rosen)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
858                Baclini, Mrs. Solomon (Latifa Qurban)
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
882                         Dahlberg, Miss. Gerda Ulrika
885                 Rice, Mrs. William (Margaret Norton)
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object