In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\One\Git\coursera_introduction\week1\titanic_train.csv')

In [2]:
df = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
df.head

<bound method NDFrame.head of      Pclass      Fare   Age     Sex  Survived
0         3    7.2500  22.0    male         0
1         1   71.2833  38.0  female         1
2         3    7.9250  26.0  female         1
3         1   53.1000  35.0  female         1
4         3    8.0500  35.0    male         0
5         3    8.4583   NaN    male         0
6         1   51.8625  54.0    male         0
7         3   21.0750   2.0    male         0
8         3   11.1333  27.0  female         1
9         2   30.0708  14.0  female         1
10        3   16.7000   4.0  female         1
11        1   26.5500  58.0  female         1
12        3    8.0500  20.0    male         0
13        3   31.2750  39.0    male         0
14        3    7.8542  14.0  female         0
15        2   16.0000  55.0  female         1
16        3   29.1250   2.0    male         0
17        2   13.0000   NaN    male         1
18        3   18.0000  31.0  female         0
19        3    7.2250   NaN  female         1
20        2   26.0000  35.0    male         0
21        2   13.0000  34.0    male         1
22        3    8.0292  15.0  female         1
23        1   35.5000  28.0    male         1
24        3   21.0750   8.0  female         0
25        3   31.3875  38.0  female         1
26        3    7.2250   NaN    male         0
27        1  263.0000  19.0    male         0
28        3    7.8792   NaN  female         1
29        3    7.8958   NaN    male         0
..      ...       ...   ...     ...       ...
861       2   11.5000  21.0    male         0
862       1   25.9292  48.0  female         1
863       3   69.5500   NaN  female         0
864       2   13.0000  24.0    male         0
865       2   13.0000  42.0  female         1
866       2   13.8583  27.0  female         1
867       1   50.4958  31.0    male         0
868       3    9.5000   NaN    male         0
869       3   11.1333   4.0    male         1
870       3    7.8958  26.0    male         0
871       1   52.5542  47.0  female         1
872       1    5.0000  33.0    male         0
873       3    9.0000  47.0    male         0
874       2   24.0000  28.0  female         1
875       3    7.2250  15.0  female         1
876       3    9.8458  20.0    male         0
877       3    7.8958  19.0    male         0
878       3    7.8958   NaN    male         0
879       1   83.1583  56.0  female         1
880       2   26.0000  25.0  female         1
881       3    7.8958  33.0    male         0
882       3   10.5167  22.0  female         0
883       2   10.5000  28.0    male         0
884       3    7.0500  25.0    male         0
885       3   29.1250  39.0  female         0
886       2   13.0000  27.0    male         0
887       1   30.0000  19.0  female         1
888       3   23.4500   NaN  female         0
889       1   30.0000  26.0    male         1
890       3    7.7500  32.0    male         0

[891 rows x 5 columns]>

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Sex'] = pd.Series(label_encoder.fit_transform(df['Sex']))
df = df.dropna()

In [6]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
X = df[['Pclass', 'Fare', 'Age', 'Sex']]
y = df[['Survived']]
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [8]:
clf.feature_importances_

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])